body {
    background-color: #00A170;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fdfaf1;
}

.form {
    width: 50%;
    height: auto;
}

fieldset {
    border: 2px solid #fdfaf1;
    padding: 2em;    
}

legend {
    background-color: #fdfaf1;
    font-size: 2em;
    border: 1px solid #ccc;
}

input {
    width: 60%;
    font-size: 1.2em;
    padding: 10px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.index-btn {
    background-color: #fdfaf1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;    
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;  
}

.index-btn:hover {
    background-color: #363945;
    color: white;
}

